div{
    height: 20px;
    width: 100%;
    background-color:red;
    margin: 20px;
    color: white;
    text-align: center;
    margin-top: 5px;
}
table{
    background-color:yellow;
    margin: 20px;
}

h1{
    color:red;
    background-color:green;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
}
p{
    height: 70px;
    width: 100%;
    background-color: blue;
    margin: 20px;
}

